.nav-link{
    text-decoration: underline;
}

.blog-title{
    margin: auto ;
    text-decoration: underline;
}

/*.card{
    margin-top: 10px;
    margin-right: 74px;
    margin-bottom:5px;
    padding-left: 10px;
    position: relative;
    float: right;
}*/

.card{
    width: 450px;
    margin-left: 0px;
    margin-right: 150px;
    margin-top: 25px;   
    position: relative;
    float: right;
}




/* BLOG POST SAMLPE */



.sample-blog-post{
    display: inline-block;
}

.about{
    background-color: #d9d9d9;
    display: inline-block;
    padding: 20px;
    width: 300px;
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right: 65px;
}

.paragraph{
    border: gray solid 1px;
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    width: 800px;
}

.lorem{
    width: 800px;
}


.links{
    text-decoration: underline;
}


.archive{
    position: relative;
    float: right;
    margin-right: 225px;
    margin-top: -850px;
}


.footer-copyright{
    background-color: gray;
    margin-top: 20px;
}