.nav-link{
    text-decoration: underline;
}

.blog-title{
    margin: auto auto auto 155px;
    text-decoration: underline;
}

.card{
    margin-top: 20px;
    margin-left: 50px;
    padding-left: 10px;
}

.card2{

}
