.nav-link{
    text-decoration: underline;
}

.blog-title{
    margin: auto ;
    text-decoration: underline;
}

.card{
    margin-top: 15px;
    margin-right: 74px;
    margin-left: ;
    padding-left: 10px;

    position: relative;
    float: right;
}

